*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
}

ul{
    list-style-type:none
}

.square {
    width:50%;
    height: 500px;
}

.grey{
    background-color: lightgrey;
}

.green {
    background-color: lightgreen;
}